page-anecdotes {

	.nombre {
		background-color: #511212;
		color: white;
		text-align: center;
		height: 40px;
		padding-top: 12px;
		border-radius: 100%;
	}

	.texte {
		text-align: justify;
		font-size: 1.1em;
		font-family: verdana, sans-serif;
	}
}
