page-slide {
	.checkbox{
		padding-top: 20px;
		background-color: #ccc9c8;
	}

  video {
    background-color: black;
  }

  p {
    background-color: #bfbfbf;
    padding: 2%;
    border-radius: 10px;
  }  

  strong {
    color: #511212;
    font-size: 1.4em;
    font-weight: normal;
  }
}
