page-bde {

	.head{
		text-align: center;
		color: white;
		background-color: #511212;
		font-family: verdana, sans-serif;
    	font-size: 1.2em;

	}

	.bouton {
		color: #511212;
		text-align: center;
	}

	.core{
		text-align: justify;
		font-size: 1.1em;
		font-family: verdana, sans-serif;
	}

}
