page-sos {

	.head{
    	text-align: center;
    	color: white;
    	background-color: #511212;
    	font-family: verdana, sans-serif;
    	font-size: 1.2em;

	}

	.core{
		text-align: justify;
		padding: 16px;
		font-size: 1.1em;
		font-family: verdana, sans-serif;
	}

	.tel {
		text-align: center;
		text-decoration: underline;
		color: #511212;
		font-size: 1.1em;
		font-family: verdana, sans-serif;
	}

}
